<app-book-info-item class="BookInfoTitle">{{
  this.BookInfo.book
}}</app-book-info-item>
<app-book-info-item class="BookInfoAuthor">{{
  this.BookInfo.author
}}</app-book-info-item>
<app-book-info-item class="BookInfoPublishingHouse InfoItem"
  ><span class="BookInfoItemDescription">Издательство:</span
  >{{ this.BookInfo.publishingHouse }}</app-book-info-item
>
<app-book-info-item class="BookInfoPublishingYear InfoItem"
  ><span class="BookInfoItemDescription">Год публикации:</span
  >{{ this.BookInfo.publishingYear }}</app-book-info-item
>
<app-book-info-item class="BookInfoNumberOfPages InfoItem"
  ><span class="BookInfoItemDescription">О книге:</span
  >{{ this.BookInfo.numberOfPages }}</app-book-info-item
>
