.AboutAuthorContainer {
  margin: 30px 0;
}
.AboutAuthorTitle {
  margin-bottom: 30px;
  font-size: 28px;
}
.AboutAuthorContent {
  display: flex;
  justify-content: space-between;
}
.AboutAuthorText {
  font-size: 22px;
  text-align: justify;
  width: 80%;
}
