.ReviewsText {
  font-size: 22px;
  line-height: 28px;
  text-align: justify;
  padding-bottom: 20px;
}

.ReviewsTitle {
  margin-bottom: 30px;
  font-size: 28px;
}
.ReviewsItemTitle {
  margin-bottom: 10px;
}
